<p>
  Do you want to learn how to pull from existing data sources to accelerate your own research and development?  Let's learn how to do that with APIs! We will de-mystify terms commonly thrown around with APIs like REST and cover practical examples of interacting with APIs. 
</p>
<p>  
  This is a 4 hour workshop <strong>tailored to the ocean sciences</strong>. We will cover that basics of what APIs are, common types you will encounter, and how to use these communication tools to pull from data sources.  We will learn how to use APIs to make requests, get responses in a variety of ways (web browser, command line, programs (e.g. python).
 </p>
