<p>
  The need for general coding skills as well as domain-specific training in programming skills 
  to accomplish scientific and engineering goals permeates all departments and levels at WHOI. 
  These skills are often learned on the job in a self-directed way. Formal training in
  modern coding and reproducible data science is a more efficient way to learn, leads to code adhering
  to best practices for readability and reproducibility, and most importantly, leads to a community of
  practice of scientific programming that reinforces these ideas and methods. WHOI also has a need for
  domain-specific training in programming skills.
</p>  
<p>  
  The <a href="https://www.whoi.edu/">Ocean Informatics Work Group</a> strives to obtain such data community
  at WHOI and encourages the community to  help one another and to apply what they have learned to their own research problems.
  The workshop is sponsored by a DDVPR Technical Staff Training Award

<p align="center">
  <em>
    For more information on upcoming events on data and workshops see the Ocean Informatics Working Group 
    <a href="https://www2.whoi.edu/site/oceaninformatics/events/">events logs</a>.
  </em>
</p>
