<div class="row">
  <div class="col-md-6">
    <h3>Workshop Outline</h3>
    <table class="table table-striped">
     <!--  <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>08:30</td>  <td><a href="https://adyork.github.io/intro-to-apis-taxamatch/01-what-is-an-api/index.html">Intro to APIs</a></td> </tr>
      <tr> <td>9:15</td>  <td>Morning break</td> </tr>
      <tr> <td>9:30</td>  <td><a href="https://adyork.github.io/intro-to-apis-taxamatch/02-how-to-use/index.html">How can I use an API?</a></td> </tr>
      <tr> <td>11:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://adyork.github.io/intro-to-apis-taxamatch/03-working-in-python/index.html">Working in Python</a> Taxa name matching and ERDDAP</td> </tr>
      <tr> <td>12:00</td>  <td>Usecase: <a href="https://adyork.github.io/intro-to-apis-taxamatch/04-taxa-name-matching/index.html">Taxa name matching</a></td> </tr>
      <tr> <td>12:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    <!--   <tr> <td>Before</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post workshop survey</a> </td> </tr> -->
    </table>
  </div>
 </div>


